<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div id="back">
<div id="cent">
	<% if user_signed_in? %>
	  <p> WELCOME <%= current_user.email %> </p>
	<% else %>
	  <p> WELCOME GUEST </p>
    <%end%>
	</div>
</div>
</body>
</html>
