<ul id="holder" >
  <li><img src='/logo.png' alt="logo" style="width:94px;height:108px;"></li>
  <li><a href="">Get Your Car fixed</a></li>
  <li ><a href="">Learn About your Car</a></li>
  <li><a href="">Search</a></li>
  <div id='right'>
  <% if user_signed_in? %>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  <%else%>
    <li class="btn"><%= link_to "Login", new_user_session_path %></li>
    <li class="btn"><%= link_to "SignUp", new_user_registration_path %></li>
  <%end%>
  </div>
  <li><a href="#about">About</a></li>
</ul>
